<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cs/email.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}                            
        {% for message in messages %}
            
            <p class='error'>{{message}}</p>   
               
        {% endfor %}
    {% endif %}
{% endwith %}


    <form action = "/submit" method = "POST">
        <label>Email : </label>
        <input class='email' type = "text" name = "email">
        <br>
        <input type = "submit" class='btn'>
    </form>
</body>
</html>