<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cs/success.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <p>The email address you entered is a VALID email address! Thank you!</p>
    </div>
    <table>
        <tr>
            <th>Email Addresses Entered:</th>
            <th></th>
        </tr>
        {% for one_email in all_emails %}
        <tr>
            <td>{{one_email["email"]}}</td>
            <td>{{one_email["created_at"]}}</td>
        </tr>
        {% endfor %}  
    </table>
</body>
</html>